---
cidr_networks:
{% for cidr_network in os_preinstall_cidr_networks %}
  {{ cidr_network.name }}: {{ cidr_network.network }}
{% endfor %}

used_ips:
{% for used_ip in os_preinstall_used_ips %}
  - "{{ used_ip }}"
{% endfor %}

global_overrides:
  # The internal and external VIP should be different IPs, however they
  # do not need to be on separate networks.
  external_lb_vip_address: "{{ os_preinstall_external_lb_vip }}"
  internal_lb_vip_address: "{{ os_preinstall_internal_lb_vip }}"
  tunnel_bridge: "{{ os_preinstall_tunnel_network_bridge }}"
  management_bridge: "{{ os_preinstall_mgmt_network_bridge }}"
  provider_networks:
    - network:
        container_bridge: "{{ os_preinstall_mgmt_network_bridge }}"
        container_mtu: "1480"
        container_type: "veth"
        container_interface: "eth1"
        ip_from_q: "{{ os_preinstall_mgmt_network_name }}"
        type: "raw"
        group_binds:
          - all_containers
          - hosts
        is_container_address: true
        is_ssh_address: true
    - network:
        group_binds:
          - neutron_linuxbridge_agent
        container_bridge: "{{ os_preinstall_tunnel_network_bridge }}"
        container_type: "veth"
        container_interface: "eth10"
        container_mtu: "9000"
        ip_from_q: "{{ os_preinstall_tunnel_network_name }}"
        type: "vxlan"
        range: "1:1000"
        net_name: "vxlan"
    - network:
        group_binds:
          - neutron_linuxbridge_agent
        container_bridge: "{{ os_preinstall_vlan_network_bridge }}"
        container_type: "veth"
        container_interface: "eth11"
        type: "vlan"
        range: "101:200,301:400"
        net_name: "{{ os_preinstall_vlan_network_name }}"
    - network:
        group_binds:
          - glance_api
          - cinder_api
          - cinder_volume
          - nova_compute
        type: "raw"
        container_bridge: "{{ os_preinstall_storage_network_bridge }}"
        container_type: "veth"
        container_interface: "eth2"
        container_mtu: "9000"
        ip_from_q: "{{ os_preinstall_storage_network_name }}"
    - network:
        group_binds:
          - neutron_linuxbridge_agent
        container_bridge: "{{ os_preinstall_vlan_network_bridge }}"
        container_type: "veth"
        container_interface: "eth12"
        host_bind_override: "eth2"
        type: "flat"
        net_name: "{{ os_preinstall_tunnel_network_name_flat }}"
    - network:
        group_binds:
          - neutron_linuxbridge_agent
          - octavia-worker
          - octavia-housekeeping
          - octavia-health-manager
        container_bridge: "{{ os_preinstall_lbaas_network_bridge }}"
        container_type: "veth"
        container_interface: "eth14"
        host_bind_override: "eth14"
        ip_from_q: "{{ os_preinstall_lbaas_network_name }}"
        type: "raw"
        net_name: "{{ os_preinstall_lbaas_network_name }}"

###
### Infrastructure
###

# galera, memcache, rabbitmq, utility
shared-infra_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# repository (apt cache, python packages, etc)
repo-infra_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# load balancer
haproxy_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

###
### OpenStack
###
# glance API, nova API, heat API, horizon
os-infra_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# octavia api
octavia-infra_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# keystone
identity_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# neutron server, agents (L3, etc)
network_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# nova hypervisors
compute_hosts:
{% for node in os_preinstall_compute_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

# cinder-api hosts
storage-infra_hosts:
{% for node in os_preinstall_infra_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
{% endfor %}

storage_hosts:
{% for node in os_preinstall_storage_nodes %}
  {{ node.name }}:
    ip: {{ os_preinstall_mgmt_network }}.{{ node.suffix }}
    container_vars:
      cinder_backends:
        lvm:
          volume_backend_name: LVM_iSCSI
          volume_driver: cinder.volume.drivers.lvm.LVMVolumeDriver
          volume_group: {{ os_preinstall_storage_vg }}
          iscsi_ip_address: "{{ '{{' }} cinder_storage_address }}"
        limit_container_types: cinder_volume
{% endfor %}
