---
# This file contains an example of the global variable overrides
# which may need to be set for a production environment.

openstack_service_publicuri_proto: https
haproxy_ssl: true
horizon_enable_ssl: true
haproxy_ssl_self_signed_regen: yes
haproxy_ssl_self_signed_subject: "/C=FR/ST=IDFs/L=Paris/O=IT/CN={{ external_lb_vip_address }}"
nova_resume_guests_state_on_host_boot: true

neutron_plugin_base:
   - router

#the range of addresses which neutron can allocate for amphora VM
octavia_management_net_subnet_allocation_pools: "172.29.232.10-172.29.235.200"

octavia_provider_network_name: vlan
octavia_provider_network_type: vlan
octavia_provider_segmentation_id: 400
octavia_container_network_name: lbaas_address

nova_virt_type: kvm
